ul.left__items{
  li.left__item{
    a {
      font-size: 14px;
      color: black;
      text-decoration: none;
    }
    list-style: none;
    font-size:16px;
    height: 34px;
    line-height: 32px;
    position: relative;
    &:hover{
      ul.left__item--left{
        :hover {
          background-color: cyan;
        }
        border: cornsilk;
        li.left__item--left__items{
          line-height: 45px;
          display: block;
          height: 45px;
          padding-left: 10px;
        }
      }
    }
    ul.left__item--left{
      position: absolute;
      top: 35px;
      z-index: 1000;
      font-weight: normal;
      li.left__item--left__items{
        width: 220px;
        height: 50px;
        display: none;
        background-color: white;
      }
    }
    }
    &:hover{            
      ul.left__item--left__children{
        :hover {
          background-color: #eee
        }
        list-style: none;
        position: absolute;
        top:35px;
        left:220px;
        width: 220px;
        z-index: 1000;
        background-color: white;
        display: block;
        li.left__item--left__items{
          width: 220px;
          height: 50px;
        }
      }
    }
    ul.left__item--left__children{
        display: none;
    }
    &:hover{
      ul.left__item--left__grand__children{
        :hover {
          background-color: #eee
        }
        list-style: none;
        position: absolute;
        top:35px;
        left:440px;
        width: 250px;
        z-index: 1000;
        background-color: white;
        display: block;
        li.left__item--left__grand__children-child{
          width: 250px;
          height: 50px;
        }
      }
    }
    ul.left__item--left__grand__children{
      display: none;
  }        
}