.singie-container{
  .single-header{
    background-color: #f5f5f5;
    height: 128px;
    display: flex;
    h1 {
      margin: 40px 0 0 450px;
      background-color: #f5f5f5;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        img {
          width: 185px;
          height: 49px;
          background-color: #f5f5f5;
        }
      }
    }
    .signUp-second-bar {
      padding: 35px 0 0 60px;
      border: 0;
      .signUp-second-clearfix {
        display: flex;
        margin: 0;
        .signUp-second-active {
          font-weight: 600;
          color: #ea352d;
          background-color: #f5f5f5;
          text {
            font-size: 12px;
          }
          .signUp-second-status {
            background-color: #ea352d;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-left: 20px;
            margin-top: 5px;
            z-index: 2;
          }
          .signUp-second-status::after {
            position: absolute;
            z-index: 1;
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background: #ccc;
            margin-top: 4px;
            margin-left: 12px;
          }
        }
        .signUp-second-active-sec {
          font-weight: 600;
          color: #ccc;
          background-color: #f5f5f5;
          text {
            font-size: 12px;
            padding-left: 60px;
          }
          .signUp-second-status-second {
            font-weight: 600;
            color: #ea352d;
            text {
              font-size: 12px;
            }
          }
          .signUp-second-status-second {
            background-color: #ccc;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-left: 86px;
            margin-top: 5px;
          }
          .signUp-second-status-second::before {
            position: absolute;
            z-index: 1;
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background: #ccc;
            margin-top: 4px;
            right: 610px;
          }
          .signUp-second-status-second::after {
            position: absolute;
            z-index: 1;
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background: #ccc;
            margin-top: 4px;
            margin-left:12px;
          }
        }
        .signUp-second-active-third {
          font-weight: 600;
          color: #ccc;
          background-color: #f5f5f5;
          text {
            font-size: 12px;
            padding-left: 85px;
          }
          .signUp-second-status-third {
            background-color: #ccc;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-left: 90px;
            margin-top: 5px;
          }
          .signUp-second-status-third::after {
            position: absolute;
            z-index: 1;
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background: #ccc;
            margin-top: 4px;
            right: 479px;
          }
        }
      }
    }
  }
}
.single-main{
  background-color: #f5f5f5;
  display: flex;
  &__first{
    padding: 24px 16px 0 16px;
    margin: 0 auto;
    #error_explanation {
      h2 {
        background-color: #fff;
        padding-left: 100px;
        font-size: 18px;
        color: red;
        padding-top: 10px;
      }
      ul {
        background-color: #fff;
        padding: 10px 0 0 200px;
        color: red;
        li {
          padding-bottom: 3px;
        }
      }
    }
    .head-title{
      width: 700px;
      padding: 0 16px;
      font-weight: bold;
      height: 98px;
      text-align: center;
      line-height: 98px;
      margin-bottom: 3px;
      background-color: white;
    }
    .head-content{              //ニックネームメールパスワード登録
      padding: 24px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-Item{
        margin-top: 5px;
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 343px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
    }
    .head-content-pass{             //パスワード登録
      padding: 1px 16px 0px 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-pass-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 343px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
      p{
        color: #888;
        margin-right: 40px;
      }
      form{
        .check_box{
          width: 20px;
          height: 20px;
          margin: 5px 0 0 0;
        }
        label{
          margin-right: 195px;
          color: #888;
        }
      }
    
    }

    .single-main__second{       //本人確認注意
      padding: 1px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      h3{
        font-weight: bolder;
        p{
          font-weight: 100;
          width: 393px;
          margin: auto;
        }
      }
    }

    .single-main__third{      //本名登録
      padding: 1px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 155px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
    }
    .head-content__birthday{
      padding: 1px 16px 24px 16px;
      text-align: center;
      width: 700px;
      background-color: white;    //生年月日登録フォーム
      .head-contet-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      .field-birth {
        width: 380px;
        margin-left: 140px;
        #user_birth_year {
          margin-top: 10px;        
          width: 55px;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
        }
        #user_birth_month {
          margin-top: 10px;        
          width: 55px;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
        }
        #user_birth_day {
          margin-top: 10px;        
          width: 55px;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
        }
      }
      form{
        margin-top: 10px;
        padding-right: 82px;
        .year,.month,.day{
          height: 45px;
          width: 80px;
        }
      }
    }
    .text{
      padding: 1px 165px 24px 165px;
      text-align: center;
      width: 402px;
      background-color: white;
      color: #888;
    }
    .single-main__fourth{           //ボタん;
      .TermsOfService{
        width: 732px;
        background-color: white;
        .Text{
          padding: 1px 165px 24px 165px;
          width: 402px;
          text-align: center;
          a{
            text-decoration: none;
            color: rgb(0, 162, 255);            
          }
        }
      }
    }
    .signUp-continue-btn {
      width: 700px;
      margin: auto;
      background-color: #fff;
      padding: 20px 32px 40px 32px;
      text-align: center;
      &__box {
        padding-right: 15px;
        background-color: #fff;
        .signUp-continue-btns {
          width: 343px;
          margin: auto;
          input {
            width: 100%;
            height: 47px;
            background-color: #3ccace;
            color: white;
            border-radius: 4px;
            border-radius: 4px;
          }
          
        }
      }
    }
    .TexT{
      width: 582px;
      text-align: center;
      padding-left: 150px;
      background-color: white;
      a{
        text-decoration: none;
        color: rgb(0, 162, 255);
      }
    }
    .form-group{
      background-color: white;
      padding: 24px 0 40px;
      .form-group-text{
        background-color: #f5f5f5;
        width: 343px;
        font-size: 8px;
        padding: 10px;
        margin: auto;
        a{
          text-decoration: none;
          color: rgb(0, 162, 255);
        }
      }
    }
  }
}

.single_footer{
  background-color: #f5f5f5;
  nav{
    margin: 0px 175.5px;
    padding: 40px 0;
    width: 456px;
    height: 220px;
    margin: 0 auto;
    ul{
      text-align: center;
      display: flex;
      margin-left: 30px;
      margin-bottom: 30px;
      background-color: #f5f5f5;
      li{
        display: inline-block;
        margin: 0 18px 0 18px;
        a{
          text-decoration: none;
          font-size: 8px;
          color: black;
        }
      }
    }
    .logo-img{
      margin: 160px;
      padding-top: 30px;
      img{
        width: 170px;
        display: inline-block;
      }
    }
    .logo-text{
      margin-left: 200px;
      Small{
        display: inline-block;
       
      }
    }
  }
}
