.singie-container{
  .single-header{
    width: 100%;
    height: 130px;
    background-color: #f5f5f5;
    justify-content: center;
    display: flex;
    h1{
      width: 200px;
      height: 100px;
      background-color: #f5f5f5;
      margin: 0 0 0 auto;
      padding-top: 30px;
      a{
        img{
          width: 200px;
        }
      }
    }
    .progress-bar.singnup-bar{
      margin: auto auto auto 40px;
      .clearfix{
        display: flex;
        .active{
          width: 80px;
          height: 32px;
          font-size: 12px;
          font-weight: bold;
          color: red;
          margin: 0 40px 0 0;
          .progress-status{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: red;
            margin: 0 20px;
          }
          .progress-status::after{
            bottom: 5px;
            z-index: -1;
            height: 2px;
            width: 100%;
            color: dimgrey;
            content: '';
          }
        }
        li{
          width: 80px;
          height: 32px;
          font-size: 12px;
          font-weight: bold;
          color: #ccc;
          .progress-status{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 7px;
          }
          .progress-status::before{
            color: gray;
          }
        }
      }
    }
  }
}

.single-main{
  background-color: #f5f5f5;
  display: flex;
  &__first{
    padding: 24px 16px 0 16px;
    margin: 0 auto;
    .head-title{
      width: 700px;
      padding: 0 16px;
      font-weight: bold;
      height: 98px;
      text-align: center;
      line-height: 98px;
      margin-bottom: 3px;
      background-color: white;
    }
    .head-content{              //ニックネームメールパスワード登録
      padding: 24px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-Item{
        margin-top: 5px;
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 343px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
    }
    .head-content-pass{             //パスワード登録
      padding: 1px 16px 24px 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-pass-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 343px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
      p{
        color: #888;
        margin-right: 40px;
      }
      form{
        .check_box{
          width: 20px;
          height: 20px;
          margin: 5px 0 0 0;
        }
        label{
          margin-right: 195px;
          color: #888;
        }
      }
    
    }

    .single-main__second{       //本人確認注意
      padding: 1px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      h3{
        font-weight: bolder;
        p{
          font-weight: 100;
          width: 393px;
          margin: auto;
        }
      }
    }

    .single-main__third{      //本名登録
      padding: 1px 16px 0 16px;
      text-align: center;
      width: 700px;
      background-color: white;
      .head-contet-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      input{
        margin-top: 10px;        
        width: 155px;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
      }
    }
    .head-content__birthday{
      padding: 1px 16px 24px 16px;
      text-align: center;
      width: 700px;
      background-color: white;    //生年月日登録フォーム
      .head-contet-Item{
        padding-left: 163px;
        display: flex;
        label{
          display: block;
          margin: 24px 20px 0 0;
          font-weight: bold;
        }
        span{
          margin-top: 24px;
          display: block;
          width: 30px;
          font-size: 12px;
          padding: 2px 4px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      form{
        margin-top: 10px;
        padding-right: 82px;
        .year,.month,.day{
          height: 45px;
          width: 80px;
        }
      }
    }
    .text{
      padding: 1px 165px 24px 165px;
      text-align: center;
      width: 402px;
      background-color: white;
      color: #888;
    }
    .single-main__fourth{           //ボタん;
      .TermsOfService{
        width: 732px;
        background-color: white;
        .Text{
          padding: 1px 165px 24px 165px;
          width: 402px;
          text-align: center;
          a{
            text-decoration: none;
            color: rgb(0, 162, 255);            
          }
        }
      }
    }
    .continue_btn{
      padding: 1px 165px 24px 165px;
      width: 402px;
      background-color: white;
      text-align: center;
      input{
        color: white;
        background-color: red;
        height: 55px;
        width: 343px;
        
      }
    }
    .TexT{
      width: 582px;
      text-align: center;
      padding-left: 150px;
      background-color: white;
      a{
        text-decoration: none;
        color: rgb(0, 162, 255);
      }
    }
    .form-group{
      background-color: white;
      padding: 24px 0 40px;
      .form-group-text{
        background-color: #f5f5f5;
        width: 343px;
        font-size: 8px;
        padding: 10px;
        margin: auto;
        a{
          text-decoration: none;
          color: rgb(0, 162, 255);
        }
      }
    }
  }
}

.single_footer{
  background-color: #f5f5f5;
  nav{
    margin: 0px 175.5px;
    padding: 40px 0;
    width: 456px;
    height: 220px;
    margin: 0 auto;
    ul{
      text-align: center;
      display: flex;
      margin-left: 30px;
      margin-bottom: 30px;
      li{
        display: inline-block;
        margin: 0 18px 0 18px;
        a{
          text-decoration: none;
          font-size: 8px;
          color: black;
        }
      }
    }
    .logo-img{
      margin: 160px;
      padding-top: 30px;
      img{
        width: 170px;
        display: inline-block;
      }
    }
    .logo-text{
      margin-left: 200px;
      Small{
        display: inline-block;
       
      }
    }
  }
}
