items/show.html.haml (show)商品詳細ページ<br><br>


= link_to '変更（編集）ボタン　edit  method: :GET', edit_item_path(@item), method: :GET

-# <br><br>

-# = link_to '出品する（新規作成）ボタン　new  method: :GET', new_item_path, method: :GET